body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #0093DD 0%, #00458E 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 120vh;
}

.navbar {
    margin-top: 1rem;
    margin-left: 5rem;
}

#alur-pengajuan {
    column-count: 3;
    margin-top: 5rem;
    margin-left: 10rem;
}

#img-alur-pengajuan{
    margin-top: 3rem;
    margin-left: 10rem;
    width: 100rem;
    height: 40rem;
}

#img-alur-penambahan{
    margin-top: 3rem;
    margin-left: 10rem;
    width: 100rem;
    height: 20rem;
}

#p-header {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    text-transform: capitalize;
}

#alur-penambahan {
    margin-top: 5rem;
    margin-left: 10rem;
    column-count: 3;
}

#wa-img{
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

#telp{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, #0093DD 0%, #00458E 100%);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        min-height: 120vh;
    }

    .navbar {
        margin-top: 1rem;
        margin-left: 5rem;
    }

    #alur-pengajuan {
        column-count: 3;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    #p-header {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
        text-transform: capitalize;
    }

    .rectangle {
        width: 5.75rem;
        height: 5.3125rem;
        border-radius: 0.9375rem;
        background: #FFF;
        margin-bottom: 3rem;
    }

    .circle {
        width: 0.9375rem;
        height: 0.9375rem;
        flex-shrink: 0;
        border-radius: 100%;
        background-color: #CE3939;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2.3rem;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
    }

    .text-rectangle {
        margin-top: 1rem;
        margin-right: 5rem;
        width: 10.75rem;
        height: 3rem;
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
    }

    #alur-penambahan {
        margin-top: 5rem;
        margin-left: 10rem;
        column-count: 3;
    }

    #img-alur-pengajuan{
        margin-top: 1rem;
        margin-left: 0rem;
        width: 25rem;
        height: 10rem;
    }

    #img-alur-penambahan{
        margin-top: 3rem;
        margin-left: 0rem;
        width: 25rem;
        height: 5rem;
    }
}