body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #BD630F 35.19%, rgba(202, 27, 27, 0.85) 65.10%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 170vh;
}

span {
    content: "\2190";
}