body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #BD630F 35.19%, rgba(202, 27, 27, 0.85) 65.10%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.navbar {
    margin-top: 1rem;
    margin-left: 5rem;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.line {
    background-color: gray;
    width: 6.1875rem;
    height: 0.0625rem;
}

.circleOn {
    width: 2.6875rem;
    height: 3.25rem;
    flex-shrink: 0;
    background-color: #CE3939;
    border-radius: 100%;
}

.circle {
    width: 2.6875rem;
    height: 3.25rem;
    flex-shrink: 0;
    background-color: #6A7580;
    border-radius: 100%;
}

.text-progress {
    margin-top: 0.7rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
}

#container {
    margin-left: 25rem;
}

#container p {
    color: #FFF;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    text-transform: capitalize;
}

.rectangle {
    height: 20.875rem;
    width: 70rem;
    border-radius: 0.625rem;
    background: #D9D9D9;
}

.text-rect {
    width: 50%;
    padding: 2rem;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    text-transform: capitalize;
}

.oval {
    width: 10.75rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 1px solid #CE3939;
    background: #D9D9D9;
    float: right;
    margin-right: 5rem;
}

#riwayat-liputan {
    margin-top: 3rem;
    margin-bottom: 10rem;
}

#riwayat-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    text-transform: capitalize;
}

.text-table {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, #BD630F 35.19%, rgba(202, 27, 27, 0.85) 65.10%);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        min-height: 100vh;
    }

    .navbar {
        margin-top: 1rem;
        margin-left: 5rem;
    }

    .progress-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .line {
        background-color: gray;
        width: 6.1875rem;
        height: 0.0625rem;
    }

    .circleOn {
        width: 2.6875rem;
        height: 3.25rem;
        flex-shrink: 0;
        background-color: #CE3939;
        border-radius: 100%;
    }

    .circle {
        width: 2.6875rem;
        height: 3.25rem;
        flex-shrink: 0;
        background-color: #6A7580;
        border-radius: 100%;
    }

    .text-progress {
        margin-top: 0.7rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
    }

    #container {
        margin-left: 0;
    }

    #container p {
        color: #FFF;
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
        text-transform: capitalize;
    }

    .rectangle {
        height: 20.875rem;
        width: 25rem;
        border-radius: 0.625rem;
        background: #D9D9D9;
    }

    .text-rect {
        width: 50%;
        padding: 1rem;
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
        text-transform: capitalize;
    }

    .oval {
        width: 5.75rem;
        height: 3.5rem;
        flex-shrink: 0;
        border-radius: 1.875rem;
        border: 1px solid #CE3939;
        background: #D9D9D9;
        float: right;
        margin-right: 5rem;
    }

    #upload-text{
        font-size: 0.8rem;
    }

    #riwayat-liputan {
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    #riwayat-text {
        color: #FFF;
        font-family: Roboto;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
        text-transform: capitalize;
    }
    
    .text-table {
        color: black;
        text-decoration: none;
    }
}